img {
    width:450px;
    height:225px;
    border-radius:5px;
    border-width:1px;
    overflow:none;
    border-color:#428bca;
    border-style:solid;
}
h1 {
color: red;
text-align: center;
}

h2 {
font-style: italic;
text-align: center;
}

p {
font-family: sans-serif;
}

ul {
font-size: 20px;
line-height: 30px;
}